html {
  scroll-behavior: smooth;
  font-family: helvetica !important;
}

body {
  position: relative;
}

header, main {
  color: white;
}

nav, main {
  font-size: 1.1rem;
}

h1, h3 {
  text-align: center;
  margin-bottom: 1.5em;
}

header {
  overflow: hidden;
}

header .header-arrow {
  /* Arrow navigation in header */
  color: white;
}

a.icon-anchor {
  /* Disable default anchor behavior on icons */
  text-decoration: none;
  color: currentColor;
}

#site-nav {
  /* Bootstrap navbar */
  background-color: #343a40;
}

#site-nav .brand-image {
  height: 40px;
  width: 40px;
}

#site-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

#site-nav .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

#site-nav .nav-link:active {
  color: #fff;
}

#theme-button {
  /* Site stylesheet button fixed bottom right */
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 11px 16px 11px 0;
  z-index: 1021;
  /* Postion above navbar */
  height: 44px;
  width: 44px;
  background-color: white;
  border-radius: 100%;
  cursor: pointer;
}

#theme-button .icon-anchor {
  font-size: 1.8rem;
  color: #343a40;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#theme-button .icon-anchor .summer-icon {
  display: inline-block;
}

#theme-button .icon-anchor .winter-icon {
  display: none;
}

#intro .caption {
  font-size: 1.25rem;
  color: white;
}

#intro .caption .name {
  font-size: 200%;
}

#intro .header-button {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

#intro .header-button:hover, #intro .header-button:active {
  color: #212529 !important;
  background-color: #f8f9fa !important;
}

#summary-description {
  font-size: 1.35rem;
  margin-bottom: 3em;
}

#stack div.icon-cont {
  font-size: 8rem;
  position: relative;
}

#stack div.icon-cont .code-cont {
  /* Position container for code icon */
  position: absolute;
  left: 50%;
}

#stack div.icon-cont i[class^="devicon"] {
  /* Initial state of stack program language icons */
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#stack div.icon-cont i[class^="fas"] {
  /* Inital state of stack code icons */
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  font-size: 40%;
  color: white;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#stack div.icon-cont:hover i[class^="devicon"] {
  /* Fade program language icons on hover */
  opacity: .8;
}

#stack div.icon-cont:hover i[class^="fas"] {
  /* Show code icon on hover */
  opacity: 1.0;
  color: dimgray;
}

#projects .card {
  /* Bootstrap card */
  background-color: rgba(0, 0, 0, 0.363);
  color: inherit;
}

#projects .card .btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

#projects .card .btn-outline-light:hover, #projects .card .btn-outline-light:active {
  color: #212529;
  background-color: #f8f9fa;
}

#courses .img-thumbnail {
  /* Set max-width for boostrap image thumbnail in courses */
  width: 100% !important;
  max-width: 20em !important;
}

#contact .img-fluid {
  /* Set max-width for boostrap image fluid in contact */
  width: 100% !important;
  max-width: 20em !important;
}

#contact a {
  /* Contact anchor icons */
  margin: 0 .5em 0 .5em;
  font-size: 2.5rem;
}

#contact i {
  /* Contact icons */
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#contact i:hover {
  /* Contact icon hover */
  color: dimgray;
}

.primary {
  background-color: #3D5484;
}

.secondary {
  background-color: #5A7EB5;
}

.container-fluid {
  /* Remove Bootstrap padding*/
  padding: 0;
}

.btn {
  /* Bootstrap button */
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  /* Remove the default shadow */
}

div[class^="col-"] {
  /* Access all Bootstrap columns */
  padding-bottom: 3em;
}

.max-vert {
  /* Fit element max vertical height of viewport*/
  height: calc(100vh - 66px);
  position: relative;
}

.height-max {
  height: 100%;
}

.img-full {
  /* Fit a background image to center, full height of element */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.content-section {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  position: relative;
}

.intro-img {
  /* Background image for intro section */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("/files/NH.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/files/NH.jpg");
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}
/*# sourceMappingURL=winter-styles.css.map */