html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: $main-font;

}

header, main {
    color: $primary-font-color;
}

main {
    font-size: $main-font-size;
}

h1, h3 {
    text-align: center;
    padding-bottom: 50px;
}

header {
    overflow: hidden;
}

i.header-arrow {
    /* Arrow navigation in header */
    color: $header-color;
}

a.icon-anchor {
    /* Disable default anchor behavior on icons */
    text-decoration: none;
    color: currentColor;
}

#intro {
    .caption {
        font-size: 1.25rem;
        color: $header-color;

        .name {
            font-size: 200%;
        }
    }
}

#stack i {
    /* Icons in stack section */
    font-size: 125px;
}

#stack div.icon-cont {
    i[class^="devicon"] {
        /* Initial state of stack program language icons */
        opacity: 1;
        transition: .5s ease;
    }

    i[class^="fas"] {
        /* Inital state of stack code icons */
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        font-size: 30pt;
        color: $primary-font-color;
    }
}

#stack div.icon-cont:hover {
    i[class^="devicon"] {
        /* Fade program language icons on hover */
        opacity: .8;
    }

    i[class^="fas"] {
        /* Show code icon on hover */
        opacity: 1.0;
        color: $secondary-font-color;
    }
}

#courses img {
    border: 1px solid lightgray;
}

#contact .img-fluid {
    /* Set max-width for boostrap image fluid in contact */
   width: 100%!important;
   max-width: 350px!important;
}

#contact a {
   /* Contact anchor icons */
   padding-left: 20px;
   padding-right: 20px;
}

#contact i {
   /* Contact icons */
   font-size: 30pt;
   transition: .5s ease;
}

#contact i:hover {
   /* Contact icon hover */
   color: $secondary-font-color;
}

.primary {
    background-color: $primary-background;
}

.secondary {
    background-color: $secondary-background;
}

.container-fluid {
    /* Remove Bootstrap padding*/
    padding: 0px;
}

.navbar {
    /* Bootstrap navbar */
    background-color: $nav-background;

    .nav-link {
        color: $nav-font-color;

        &:hover {
            color: $nav-hover-font-color;
        }

        &:active {
            color: $nav-active-font-color;
        }
    }
}

.card {
    /* Bootstrap card */
    background-color: $card-background;
    color: $card-font-color;

    .btn-outline-light {
        color: $btn-font-color;
        border-color: $btn-border;
    
        &:hover, &:active {
            color: $btn-hover-font-color;
            background-color: $btn-hover-background;
        }
    }
    
}

div[class^="col-"] {
    /* Access all Bootstrap columns */
    padding-bottom: 50px;
}

.max-vert {
    /* Fit element max vertical height of viewport*/
    height: calc(100vh - 56px);
    position: relative;
}

.height-max {
    height: 100%;
}

.img-full {
    /* Fit a background image to center, full height of element */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.content-section {
    padding-top: 100px;
    min-height: 100vh;
}

.intro-img {
    /* Background image for intro section */
    background-image: $intro-img;
}

.title {
    font-size: $title-font-size;
    font-weight: bold;
}