$intro-img: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url("Pictures/Mt Mitchell.jpg");
$primary-background: #3D5484;
$secondary-background: #5A7EB5;

$primary-font-color: white;
$secondary-font-color: rgb(105, 105, 105);

$header-color: white;

$card-background: rgba(0, 0, 0, 0.363);