$intro-img: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),  url("Pictures/NH.jpg");

$primary-background: #3D5484;
$secondary-background: #5A7EB5;

$primary-font-color: white;
$secondary-font-color: rgb(105, 105, 105);

$header-color: white;

$card-background: rgba(0, 0, 0, 0.363);
$card-font-color: inherit;

$nav-background: #343a40;
$nav-font-color: rgba(255,255,255,.5);
$nav-hover-font-color: rgba(255,255,255,.75);
$nav-active-font-color: #fff;

$btn-font-color: #f8f9fa;
$btn-hover-font-color: #212529;
$btn-border: #f8f9fa;
$btn-hover-background: #f8f9fa;
