body, html {
    height: 100%;
    margin: 0px;
}

h1, h3 {
    text-align: center;
}

.container-fluid {
    padding: 0px; /* Remove Bootstrap padding*/
}

/* Element max vertical height of viewport*/
.max-vert {
    height: 100vh;
    position: relative;
}

/* Position text center, vertical middle */
.center-middle {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.content-section {
    padding-top: 100px;
}

/* Fit a background image to center, full height of element */
.img-full {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Background image for intro section */
.intro-img {
    background-image: url("Pictures/Mt Mitchell.jpg");
}
