/*@import "bootstrap";*/

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
}

h1, h3 {
    text-align: center;
    padding-bottom: 50px;
}

header {
    overflow: hidden;
}

i.header-arrow {
    /* Arrow navigation in header */
    color: white;
}

a.icon-anchor {
    /* Disable default anchor behavior on icons */
    text-decoration: none;
    color: currentColor;
}

#stack i {
    /* Icons in stack section */
    font-size: 125px;
}

#stack div.icon-cont {
    i[class^="devicon"] {
        /* Initial state of stack program language icons */
        opacity: 1;
        transition: .5s ease;
    }

    i[class^="fas"] {
        /* Inital state of stack code icons */
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        font-size: 30pt;
        color: white;
    }
}

#stack div.icon-cont:hover {
    i[class^="devicon"] {
        /* Fade program language icons on hover */
        opacity: .8;
    }

    i[class^="fas"] {
        /* Show code icon on hover */
        opacity: 1.0;
    }
}

#courses img {
    border: 1px solid lightgray;
}

#contact .img-fluid {
    /* Set max-width for boostrap image fluid in contact */
   width: 100%!important;
   max-width: 350px!important;
}

#contact a {
   /* Contact anchor icons */
   padding-left: 20px;
   padding-right: 20px;
}

#contact i {
   /* Contact icons */
   font-size: 30pt;
   transition: .5s ease;
}

#contact i:hover {
   /* Contact icon hover */
   color: white;
}

.primary {
    background-color: gray;
}

.secondary {
    background-color: coral;
}

.container-fluid {
    /* Remove Bootstrap padding*/
    padding: 0px;
}

div[class^="col-"] {
    /* Access all Bootstrap columns */
    padding-bottom: 50px;
}

.max-vert {
    /* Fit element max vertical height of viewport*/
    height: 100vh;
    position: relative;
}

.height-max {
    height: 100%;
}

.img-full {
    /* Fit a background image to center, full height of element */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.content-section {
    padding-top: 100px;
    min-height: 100vh;
}

.intro-img {
    /* Background image for intro section */
    background-image: url("Pictures/Mt Mitchell.jpg");
}
