body, html {
    height: 100%;
    margin: 0px;
}

.container-fluid {
    padding: 0px; /* Remove Bootstrap padding*/
}

/* Element max vertical height of viewport*/
.max-vert {
    height: 100vh;
    position: relative;
    text-align: center;
}

/* Position horizontal center, vertical middle */
.center-middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Position horizontal left, vertical middle */
.left-middle {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* Fit a background image to center, full height of element */
.img-full {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

/* Background image for intro section */
.intro-img {
    background-image: url("Pictures/Mt Mitchell.jpg");
}
