html {
  scroll-behavior: smooth;
  font-family: helvetica !important;
}

body {
  position: relative;
}

header, main {
  color: #354972;
}

main {
  font-size: 1.1rem;
}

h1, h3 {
  text-align: center;
  margin-bottom: 1.5em;
}

header {
  overflow: hidden;
}

i.header-arrow {
  /* Arrow navigation in header */
  color: white;
}

a.icon-anchor {
  /* Disable default anchor behavior on icons */
  text-decoration: none;
  color: currentColor;
}

#intro .caption {
  font-size: 1.25rem;
  color: white;
}

#intro .caption .name {
  font-size: 200%;
}

#stack div.icon-cont {
  font-size: 8rem;
}

#stack div.icon-cont i[class^="devicon"] {
  /* Initial state of stack program language icons */
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#stack div.icon-cont i[class^="fas"] {
  /* Inital state of stack code icons */
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  font-size: 40%;
  color: #354972;
}

#stack div.icon-cont:hover i[class^="devicon"] {
  /* Fade program language icons on hover */
  opacity: .8;
}

#stack div.icon-cont:hover i[class^="fas"] {
  /* Show code icon on hover */
  opacity: 1.0;
  color: #6e98ec;
}

#courses .img-thumbnail {
  /* Set max-width for boostrap image thumbnail in courses */
  width: 100% !important;
  max-width: 20em !important;
}

#contact .img-fluid {
  /* Set max-width for boostrap image fluid in contact */
  width: 100% !important;
  max-width: 20em !important;
}

#contact a {
  /* Contact anchor icons */
  margin: 0 .5em 0 .5em;
  font-size: 2.5rem;
}

#contact i {
  /* Contact icons */
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

#contact i:hover {
  /* Contact icon hover */
  color: #6e98ec;
}

.primary {
  background-color: #F5F5F5;
}

.secondary {
  background-color: #DEDEDE;
}

.container-fluid {
  /* Remove Bootstrap padding*/
  padding: 0;
}

.navbar {
  /* Bootstrap navbar */
  background-color: #3D5484 !important;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

.navbar .nav-link:active {
  color: #fff;
}

.card {
  /* Bootstrap card */
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
}

.card .btn-outline-light {
  color: #f8f9fa;
  border-color: #f8f9fa;
}

.card .btn-outline-light:hover, .card .btn-outline-light:active {
  color: #f8f9fa !important;
  background-color: #3D5484 !important;
}

.btn {
  /* Bootstrap button */
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  /* Remove the default shadow */
}

div[class^="col-"] {
  /* Access all Bootstrap columns */
  padding-bottom: 3em;
}

.max-vert {
  /* Fit element max vertical height of viewport*/
  height: calc(100vh - 56px);
  position: relative;
}

.height-max {
  height: 100%;
}

.img-full {
  /* Fit a background image to center, full height of element */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.content-section {
  padding-top: 6.25rem;
  min-height: 100vh;
}

.intro-img {
  /* Background image for intro section */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), url("Pictures/Mt Mitchell.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("Pictures/Mt Mitchell.jpg");
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}
/*# sourceMappingURL=summer-styles.css.map */